@import '../../mdl-colors'

.registration-form
  padding-top 30px

.input-item
  margin-bottom 15px
  
  .u-full-width
    margin-bottom 0
    
    &.error
      border 1px solid md-red-500

.error-message
  color md-red-500
  height 15px

.submit-button
  margin 10px 0
