@import '../mdl-colors'

messageHeight = 30px

.message-container
  position fixed
  height 0
  bottom 0
  #message
    height (messageHeight)
    opacity 0.8
  .message
    transition bottom ease-in-out 0.3s
    position absolute
    background #33C3F0
    color #fff
    bottom -(messageHeight)
    right 0
    padding 0 15px
    border-radius 5px 5px 0 0
    height (messageHeight)
    line-height (messageHeight)
    text-align center

    &.active
      bottom 0
    
    &.error
      background md-red-700
    &.success
      background md-light-green-500
