!!!5
html
  head 
    title news
    link(rel="stylesheet", href="./static/app.css")
    script(src='./static/app.js')
    script(type='text/javascript') require('index.js')
  body
    #app loading...
