!!!5
html
  head
    title tictac toe
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet',type='text/css')
    link(rel="stylesheet", href="./static/app.css")
    script(src='./static/app.js')
    script(type='text/javascript') require('index')
    link(rel='shortcut icon', href='/static/img/favicon.png')
  body
    #loading
    .wrapper
      .container
        nav#nav.navbar
      .container
        #app
    .container.message-container
      #message
        .message
  include footer.jade
