.loading-wrapper
  &.inprogress
    position absolute
    width 100%
    height 100%
    z-index 1
    background rgba(255, 255, 255, 0.8)
    
    .loading
      position absolute
      width 256px
      height 256px
      margin -128px 0 0 -128px
      top 50%
      left 50%
      background url('../static/img/loading.gif')
