.board
  width 400px
  height 400px
  position relative
  overflow hidden
  z-index 2
  
  &-item
    display block
    width 40px
    height 40px
    position absolute
    border 1px solid black
    opacity 0.5
    box-sizing border-box
    cursor pointer
    
