@import '../../mdl-colors'
stepSize = 10px

.steps
  position absolute
  top 0
  overflow hidden
  width 400px
  height 400px
  z-index 1
  
  .step
    position absolute
    width 40px
    height 40px
    &:before
      left 50%
      top 50%
      margin-top -(stepSize/2)
      margin-left -(stepSize/2)
      content: ''
      position absolute
      width stepSize
      height stepSize
      border-radius (stepSize/2)
    
    &.creator
      &:before
        background md-purple-500
        
    &.enemy
      &:before
        background md-cyan-a100
